body{
    background-color: #E8E9EB;
}

.container{
    display: flex;
    flex-flow: column;
    border-radius: 10px;
    width: 40vh;
    height: 60vh;
    background-color: #ef6461;
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #E4B363;

}

.row{
    display: flex;
    flex-flow: row;
    flex-grow: 1;
}

#display{
    display: block;
    font-family: sans-serif;
    height: 15%;
    border: 5px solid rgba(255, 255, 255, 1);
    margin:5px;
    padding: 5px;
    border-radius: 2%;
}

#previous {
    text-align: right;
    margin: 4px;
    color: rgba(255, 255, 255, 0.8);
    height: 25%;
    vertical-align: middle;
    font-size: 2vh;
}

#inputs {
    font-size: 2.5em;
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(255, 255, 255, 1);
    text-align: right;
    margin: 0px auto 0px auto;
    width: 98%;
    height: 65%;
    border: none;
    outline: none;
}
#zero {
    width: 52%;
}
button{
    color: #ef6461;
    background-color: #E4B363;
    padding: 0;
    width: 25%;
    font-size: 2em;
    font-weight: 500;
    border-style: none;
    border: 5px solid rgba(255, 255, 255, 1);
    margin:5px;
    outline: none;
    border-radius: 5%;
}

.pressed{
    background-color: #ef6461;
    color: #E4B363;
    transition: all .4s ease;
}